# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compiler output
out/
target/
build/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle 
.gradle/
*.gradle
gradle-app.setting

# Logs
*.log

# Java
*.class

# Spring Boot
*.jar
*.war

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# File CSVs
*.csv

# database configuration file
*.properties